* {margin: 0; paddding: 0;}
body {
	width: 900px;
	margin: auto;
}

header {
	width: 900px;
	height: 300px;
}
header img {
	width: 900px;
	height: 300px;
}

menu {
	width: 900px;
	height: 30px;
	background-color: green;
	padding: 0px;
}

menu li {
	list-style: none;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	color: #fff;
}
menu li a {
	text-decoration: none;
	color: #fff;
}
menu li a:hover {
	color: yellow
}

.container {
	width: 100%
	height: 3000px;
	margin-top: 5px;
	overflow: hidden;
	background-color: lightblue;
}
.container img {
	width: 1200px;
	height: 576px;
	float: left;
	margin-left: 5px;
}
.container h1 {
	text-align: center;
	margin-top: 5px;

}
.container h2 {
	text-align: left;
	margin-top: 5px;
}
.container p {
	text-align: bottom;
	margin-left: 5px;
}